{%- comment -%}
------------------------------------------------------------------------------------------------------------------------
DEVELOPER NOTE: The slideshow is one of Prestige's most complex sections due to the large number of settings it offers.
We highly recommend you to not edit the code unless you have fully reviewed and understood all the code. A simple change
may have important consequences on the section itself.
------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

{%- if section.blocks.size > 0 -%}
  {%- assign carousel_id = 'carousel-' | append: section.id -%}

  <slideshow-carousel
    id="{{ carousel_id }}"
    class="slideshow"
    allow-swipe
    {% if section.settings.allow_transparent_header %}allow-transparent-header{% endif %}
    cell-selector=".slideshow__slide"
    {% if section.settings.autoplay %}autoplay="{{ section.settings.cycle_speed }}"{% endif %}
    {% if section.settings.autoplay_pause_on_video %}autoplay-pause-on-video{% endif %}
    role="region"
    style="{% render 'surface', background: section.settings.background %}"
  >
    {%- for block in section.blocks -%}
      {%- capture slide -%}
        <div class="content-over-media content-over-media--{{ section.settings.media_size }}" style="--content-over-media-content-max-width: {{ block.settings.content_max_width }}px;">
          {%- comment -%}---------------- MEDIA ----------------{%- endcomment -%}
          {%- if block.type == 'image' -%}
            <picture>
              {%- if block.settings.mobile_image != blank -%}
                <source
                  media="(max-width: 767px)"
                  srcset="{{ block.settings.mobile_image | image_url: width: '400x' }} 400w, {{ block.settings.mobile_image | image_url: width: '600x' }} 600w, {{ block.settings.mobile_image | image_url: width: '800x' }} 800w, {{ block.settings.mobile_image | image_url: width: '1000x' }} 1000w"
                  sizes="100vw"
                >
              {%- endif -%}
              {%- if block.settings.image != blank -%}
                <source
                  media="(min-width: 768px)"
                  srcset="{{ block.settings.image | image_url: width: '800x' }} 800w, {{ block.settings.image | image_url: width: '1000x' }} 1000w, {{ block.settings.image | image_url: width: '1200x' }} 1200w, {{ block.settings.image | image_url: width: '1400x' }} 1400w, {{ block.settings.image | image_url: width: '1600x' }} 1600w, {{ block.settings.image | image_url: width: '1800x' }} 1800w, {{ block.settings.image | image_url: width: '2000x' }} 2000w"
                  sizes="100vw"
                >
                <img
                  src="{{ block.settings.image | image_url: width: '2000x' }}"
                  alt="{{ block.settings.image.alt | escape }}"
                  loading="{% if forloop.first %}eager{% else %}lazy{% endif %}"
                  fetchpriority="{% if forloop.first %}high{% else %}low{% endif %}"
                >
              {%- else -%}
                {%- capture placeholder_image -%}{% cycle 'placeholder': 'lifestyle-1', 'lifestyle-2' %}{%- endcapture -%}
                {{ placeholder_image | placeholder_svg_tag: 'placeholder' | replace: '<svg', '<svg preserveAspectRatio="xMinYMin slice"' }}
              {%- endif -%}
            </picture>
          {%- else -%}
            {%- comment -%} Output both mobile and desktop videos {%- endcomment -%}
            {%- if block.settings.video != blank or block.settings.mobile_video != blank -%}
              {%- if block.settings.mobile_video != blank -%}
                <div class="mobile-media">
                  {% render 'media', media: block.settings.mobile_video, autoplay: true, loop: true, controls: false, preload: forloop.first %}
                </div>
              {%- endif -%}
              {%- if block.settings.video != blank -%}
                <div class="desktop-media">
                  {% render 'media', media: block.settings.video, autoplay: true, loop: true, controls: false, preload: forloop.first %}
                </div>
              {%- endif -%}
            {%- else -%}
              {%- capture placeholder_image -%}{% cycle 'placeholder': 'lifestyle-1', 'lifestyle-2' %}{%- endcapture -%}
              {{ placeholder_image | placeholder_svg_tag: 'placeholder' | replace: '<svg', '<svg preserveAspectRatio="xMinYMin slice"' }}
            {%- endif -%}
          {%- endif -%}

          {%- comment -%}---------------- CONTENT ----------------{%- endcomment -%}
          {%- assign is_boxed = false -%}
          {%- assign has_background = false -%}
          {%- assign has_border = false -%}
          {%- assign has_inside_offset = false -%}

          {%- if block.settings.background_opacity > 0 and block.settings.background != blank and block.settings.background != 'rgba(0,0,0,0)' -%}
            {%- assign has_background = true -%}
          {%- endif -%}

          {%- if block.settings.border_color != blank and block.settings.border_color != 'rgba(0,0,0,0)' -%}
            {%- assign has_border = true -%}
          {%- endif -%}

          {%- if has_background and has_border -%}
            {%- assign has_inside_offset = true -%}
          {%- endif -%}

          {%- if has_background or has_border -%}
            {%- assign is_boxed = true -%}
          {%- endif -%}

          <div class="slideshow__slide-content {% if is_boxed %}slideshow__slide-content--boxed{% endif %} {% if has_border %}slideshow__slide-content--with-border{% endif %} {% if has_inside_offset %}slideshow__slide-content--with-border-offset{% endif %} {{ block.settings.mobile_text_position }} {{ block.settings.desktop_text_position }}" style="{% render 'surface', background: block.settings.background, background_opacity: 0, text_color: block.settings.text_color, border_color: block.settings.border_color %}">
            {%- comment -%} Mobile Content {%- endcomment -%}
            <div class="prose mobile-content">
              {%- if block.settings.mobile_upper_subheading != blank -%}
                <p class="h6" style="font-size: {{ block.settings.mobile_upper_subheading_size }}px; font-weight: {{ block.settings.mobile_upper_subheading_weight }};">{{ block.settings.mobile_upper_subheading }}</p>
              {%- endif -%}

              {%- if block.settings.mobile_title != blank -%}
                <p class="h1" style="font-size: {{ block.settings.mobile_title_size }}px; font-weight: {{ block.settings.mobile_title_weight }};">{{ block.settings.mobile_title }}</p>
              {%- endif -%}

              {%- if block.settings.mobile_subheading != blank -%}
                <p class="h6" style="font-size: {{ block.settings.mobile_subheading_size }}px; font-weight: {{ block.settings.mobile_subheading_weight }};">{{ block.settings.mobile_subheading }}</p>
              {%- endif -%}

              {%- if block.settings.mobile_button_1_text != blank or block.settings.mobile_button_2_text != blank -%}
                {%- assign button_mobile_position = block.settings.mobile_text_position | split: 'text-' | last -%}

                {%- if block.settings.mobile_button_1_style == 'link' or block.settings.mobile_button_2_style == 'link' or block.settings.mobile_button_1_text == blank or block.settings.mobile_button_2_text == blank -%}
                  {%- capture button_wrapper_class -%}button-group justify-{{ button_mobile_position }}{%- endcapture -%}
                {%- else -%}
                  {%- capture button_wrapper_class -%}button-group button-group--same-width justify-{{ button_mobile_position }}{%- endcapture -%}
                {%- endif -%}

                <div class="{{ button_wrapper_class }}">
                  {%- if block.settings.mobile_button_1_text != blank -%}
                    {% render 'button', href: block.settings.mobile_button_1_link, content: block.settings.mobile_button_1_text, style: block.settings.mobile_button_1_style, background: block.settings.mobile_button_1_background, text_color: block.settings.mobile_button_1_text_color %}
                  {%- endif -%}

                  {%- if block.settings.mobile_button_2_text != blank -%}
                    {% render 'button', href: block.settings.mobile_button_2_link, content: block.settings.mobile_button_2_text, style: block.settings.mobile_button_2_style, background: block.settings.mobile_button_2_background, text_color: block.settings.mobile_button_2_text_color %}
                  {%- endif -%}
                </div>
              {%- endif -%}
            </div>

            {%- comment -%} Desktop Content {%- endcomment -%}
            <div class="prose desktop-content">
              {%- if block.settings.upper_subheading != blank -%}
                <p class="h6" style="font-size: {{ block.settings.upper_subheading_size }}px; font-weight: {{ block.settings.upper_subheading_weight }};">{{ block.settings.upper_subheading }}</p>
              {%- endif -%}

              {%- if block.settings.title != blank -%}
                <p class="h1" style="font-size: {{ block.settings.title_size }}px; font-weight: {{ block.settings.title_weight }};">{{ block.settings.title }}</p>
              {%- endif -%}

              {%- if block.settings.subheading != blank -%}
                <p class="h6" style="font-size: {{ block.settings.subheading_size }}px; font-weight: {{ block.settings.subheading_weight }};">{{ block.settings.subheading }}</p>
              {%- endif -%}

              {%- if block.settings.button_1_text != blank or block.settings.button_2_text != blank -%}
                {%- assign button_desktop_position = block.settings.desktop_text_position | split: 'sm:text-' | last -%}

                {%- if block.settings.button_1_style == 'link' or block.settings.button_2_style == 'link' or block.settings.button_1_text == blank or block.settings.button_2_text == blank -%}
                  {%- capture button_wrapper_class -%}button-group justify-{{ button_desktop_position }}{%- endcapture -%}
                {%- else -%}
                  {%- capture button_wrapper_class -%}button-group button-group--same-width justify-{{ button_desktop_position }}{%- endcapture -%}
                {%- endif -%}

                <div class="{{ button_wrapper_class }}">
                  {%- if block.settings.button_1_text != blank -%}
                    {% render 'button', href: block.settings.button_1_link, content: block.settings.button_1_text, style: block.settings.button_1_style, background: block.settings.button_1_background, text_color: block.settings.button_1_text_color %}
                  {%- endif -%}

                  {%- if block.settings.button_2_text != blank -%}
                    {% render 'button', href: block.settings.button_2_link, content: block.settings.button_2_text, style: block.settings.button_2_style, background: block.settings.button_2_background, text_color: block.settings.button_2_text_color %}
                  {%- endif -%}
                </div>
              {%- endif -%}
            </div>
          </div>
        </div>

        {%- if block.type == 'video' and block.settings.video != blank and block.settings.allow_sound -%}
          <div class="slideshow__volume-control" style="{% render 'surface', text_color: section.settings.controls_color %}">
            <button data-action="unmute">
              <span class="sr-only">{{ 'general.accessibility.unmute_video' | t }}</span>
              {% render 'icon' with 'unmute' %}
            </button>

            <button data-action="mute" hidden>
              <span class="sr-only">{{ 'general.accessibility.mute_video' | t }}</span>
              {% render 'icon' with 'mute' %}
            </button>
          </div>
        {%- endif -%}
      {%- endcapture -%}

      {%- if block.settings.button_1_link != blank and block.settings.button_1_text == blank and block.settings.button_2_text == blank -%}
        <a href="{{ block.settings.button_1_link }}" class="slideshow__slide {% if forloop.first %}is-selected{% endif %}" media-type="{{ block.type }}" {% if forloop.first %}reveal-on-scroll="true"{% endif %} role="group" {{ block.shopify_attributes }}>
          {{ slide }}
        </a>
      {%- else -%}
        <div class="slideshow__slide {% if forloop.first %}is-selected{% endif %}" media-type="{{ block.type }}" {% if forloop.first %}reveal-on-scroll="true"{% endif %} role="group" {{ block.shopify_attributes }}>
          {{ slide }}
        </div>
      {%- endif -%}
    {%- endfor -%}

    {%- if section.blocks.size > 1 -%}
      <carousel-navigation aria-controls="{{ carousel_id }}" class="page-dots {% if section.settings.autoplay %}page-dots--autoplay{% endif %}" style="{% render 'surface', text_color: section.settings.controls_color %}">
        {%- for i in (1..section.blocks.size) -%}
          <button class="tap-area" aria-current="{% if forloop.first %}true{% else %}false{% endif %}">
            <span class="sr-only">{{ 'general.accessibility.go_to_item' | t: index: forloop.index }}</span>

            {%- if section.settings.autoplay -%}
              <svg class="circular-progress" height="8" width="8" viewBox="0 0 8 8" style="--stroke-dasharray: {{ 2 | times: 3.14159265359 | times: 3.25 }}">
                <circle cx="50%" cy="50%" fill="none" stroke-width="1.5" r="3.25" stroke="currentColor" stroke-opacity="0.2"></circle>
                <circle cx="50%" cy="50%" fill="none" stroke-width="1.5" r="3.25" stroke="currentColor" stroke-linecap="round"></circle>
              </svg>
            {%- endif -%}
          </button>
        {%- endfor -%}
      </carousel-navigation>
    {%- endif -%}

    {%- if section.settings.show_next_section_button -%}
      <button data-action="navigate-next" class="slideshow__next-section-button circle-button circle-button--lg hover:animate-icon-block">
        <span class="sr-only">{{ 'general.accessibility.navigate_to_next_section' | t }}</span>
        {% render 'icon' with 'arrow-down' %}
      </button>
    {%- endif -%}
  </slideshow-carousel>
{%- endif -%}

<style>
.mobile-media {
  display: block;
}
.desktop-media {
  display: none;
}
@media (min-width: 768px) {
  .mobile-media {
    display: none;
  }
  .desktop-media {
    display: block;
  }
}


.mobile-content {
  display: block;
}
.desktop-content {
  display: none;
}
@media (min-width: 768px) {
  .mobile-content {
    display: none;
  }
  .desktop-content {
    display: block;
  }
}


</style>



{% schema %}
  {
    "name": "slideshow_reworked",
    "class": "shopify-section--slideshow",
    "tag": "section",
    "max_blocks": 6,
    "disabled_on": {
      "groups": ["header", "custom.overlay"]
    },
    "settings": [
      {
        "type": "checkbox",
        "id": "allow_transparent_header",
        "label": "t:global.section.allow_transparent_header",
        "info": "t:global.section.allow_transparent_header_info",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_next_section_button",
        "label": "t:sections.slideshow.show_next_section_button",
        "default": true
      },
      {
        "type": "select",
        "id": "media_size",
        "label": "t:global.image.size",
        "options": [
          {
            "value": "auto",
            "label": "t:global.sizes.original_image_ratio"
          },
          {
            "value": "xs",
            "label": "t:global.sizes.x_small"
          },
          {
            "value": "sm",
            "label": "t:global.sizes.small"
          },
          {
            "value": "md",
            "label": "t:global.sizes.medium"
          },
          {
            "value": "lg",
            "label": "t:global.sizes.large"
          },
          {
            "value": "fill",
            "label": "t:global.sizes.fit_screen"
          }
        ],
        "info": "t:global.image.ratio_avoid_cropping_info",
        "default": "auto"
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "t:sections.slideshow.auto_rotate_between_slides",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "autoplay_pause_on_video",
        "label": "t:sections.slideshow.autoplay_pause_on_video",
        "default": true
      },
      {
        "type": "range",
        "id": "cycle_speed",
        "min": 4,
        "max": 20,
        "step": 1,
        "unit": "sec",
        "label": "t:sections.slideshow.cycle_speed",
        "default": 5
      },
      {
        "type": "header",
        "content": "t:global.colors.category"
      },
      {
        "type": "color",
        "id": "background",
        "label": "t:sections.slideshow.background",
        "info": "t:sections.slideshow.background_info",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "controls_color",
        "label": "t:sections.slideshow.controls_color",
        "info": "t:sections.slideshow.controls_color_info",
        "default": "#ffffff"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "t:sections.slideshow.blocks.image.name",
        "settings": [
          {
            "type": "header",
            "content": "Mobile Content Settings"
          },
          {
            "type": "inline_richtext",
            "id": "mobile_upper_subheading",
            "label": "Mobile Upper Subheading",
            "default": "New arrival"
          },
          {
            "type": "range",
            "id": "mobile_upper_subheading_size",
            "min": 12,
            "max": 60,
            "step": 1,
            "unit": "px",
            "label": "Mobile Upper Subheading Font Size",
            "default": 16
          },
          {
            "type": "number",
            "id": "mobile_upper_subheading_weight",
            "label": "Mobile Upper Subheading Font Weight",
            "default": 400,
            "info": "Enter a value between 100 and 900. Normal = 400, Bold = 700"
          },
          {
            "type": "inline_richtext",
            "id": "mobile_title",
            "label": "Mobile Title",
            "default": "Image slide"
          },
          {
            "type": "range",
            "id": "mobile_title_size",
            "min": 20,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Mobile Title Font Size",
            "default": 48
          },
          {
            "type": "number",
            "id": "mobile_title_weight",
            "label": "Mobile Title Font Weight",
            "default": 700,
            "info": "Enter a value between 100 and 900. Normal = 400, Bold = 700"
          },
          {
            "type": "inline_richtext",
            "id": "mobile_subheading",
            "label": "Mobile Subheading",
            "default": "Tell your fantastic story"
          },
          {
            "type": "range",
            "id": "mobile_subheading_size",
            "min": 12,
            "max": 60,
            "step": 1,
            "unit": "px",
            "label": "Mobile Subheading Font Size",
            "default": 16
          },
          {
            "type": "number",
            "id": "mobile_subheading_weight",
            "label": "Mobile Subheading Font Weight",
            "default": 400,
            "info": "Enter a value between 100 and 900. Normal = 400, Bold = 700"
          },
          {
            "type": "header",
            "content": "Desktop Content Settings"
          },
          {
            "type": "inline_richtext",
            "id": "upper_subheading",
            "label": "Desktop Upper Subheading",
            "default": "New arrival"
          },
          {
            "type": "range",
            "id": "upper_subheading_size",
            "min": 12,
            "max": 60,
            "step": 1,
            "unit": "px",
            "label": "Desktop Upper Subheading Font Size",
            "default": 16
          },
          {
            "type": "number",
            "id": "upper_subheading_weight",
            "label": "Desktop Upper Subheading Font Weight",
            "default": 400,
            "info": "Enter a value between 100 and 900. Normal = 400, Bold = 700"
          },
          {
            "type": "inline_richtext",
            "id": "title",
            "label": "Desktop Title",
            "default": "Image slide"
          },
          {
            "type": "range",
            "id": "title_size",
            "min": 20,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Desktop Title Font Size",
            "default": 48
          },
          {
            "type": "number",
            "id": "title_weight",
            "label": "Desktop Title Font Weight",
            "default": 700,
            "info": "Enter a value between 100 and 900. Normal = 400, Bold = 700"
          },
          {
            "type": "inline_richtext",
            "id": "subheading",
            "label": "Desktop Subheading",
            "default": "Tell your fantastic story"
          },
          {
            "type": "range",
            "id": "subheading_size",
            "min": 12,
            "max": 60,
            "step": 1,
            "unit": "px",
            "label": "Desktop Subheading Font Size",
            "default": 16
          },
          {
            "type": "number",
            "id": "subheading_weight",
            "label": "Desktop Subheading Font Weight",
            "default": 400,
            "info": "Enter a value between 100 and 900. Normal = 400, Bold = 700"
          },
          {
            "type": "header",
            "content": "Images"
          },
          {
            "type": "image_picker",
            "id": "image",
            "info": "t:sections.slideshow.blocks.image.desktop_image_size_recommendation",
            "label": "Desktop Image"
          },
          {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Mobile Image",
            "info": "t:sections.slideshow.blocks.image.mobile_image_size_recommendation"
          },
          {
            "type": "header",
            "content": "Content Position"
          },
          {
            "type": "select",
            "id": "mobile_text_position",
            "label": "Mobile Content Position",
            "options": [
              {
                "value": "place-self-start text-start",
                "label": "Top Left"
              },
              {
                "value": "place-self-start-center text-center",
                "label": "Top Center"
              },
              {
                "value": "place-self-start-end text-end",
                "label": "Top Right"
              },
              {
                "value": "place-self-center-start text-start",
                "label": "Middle Left"
              },
              {
                "value": "place-self-center text-center",
                "label": "Middle Center"
              },
              {
                "value": "place-self-center-end text-end",
                "label": "Middle Right"
              },
              {
                "value": "place-self-end-start text-start",
                "label": "Bottom Left"
              },
              {
                "value": "place-self-end-center text-center",
                "label": "Bottom Center"
              },
              {
                "value": "place-self-end text-end",
                "label": "Bottom Right"
              }
            ],
            "default": "place-self-center text-center"
          },
          {
            "type": "select",
            "id": "desktop_text_position",
            "label": "Desktop Content Position",
            "options": [
              {
                "value": "sm:place-self-start sm:text-start",
                "label": "Top Left"
              },
              {
                "value": "sm:place-self-start-center sm:text-center",
                "label": "Top Center"
              },
              {
                "value": "sm:place-self-start-end sm:text-end",
                "label": "Top Right"
              },
              {
                "value": "sm:place-self-center-start sm:text-start",
                "label": "Middle Left"
              },
              {
                "value": "sm:place-self-center sm:text-center",
                "label": "Middle Center"
              },
              {
                "value": "sm:place-self-center-end sm:text-end",
                "label": "Middle Right"
              },
              {
                "value": "sm:place-self-end-start sm:text-start",
                "label": "Bottom Left"
              },
              {
                "value": "sm:place-self-end-center sm:text-center",
                "label": "Bottom Center"
              },
              {
                "value": "sm:place-self-end sm:text-end",
                "label": "Bottom Right"
              }
            ],
            "default": "sm:place-self-center sm:text-center"
          },
          {
            "type": "range",
            "id": "content_max_width",
            "label": "Content Maximum Width",
            "min": 400,
            "max": 1200,
            "step": 20,
            "unit": "px",
            "default": 780
          },
          {
            "type": "header",
            "content": "Mobile Button 1"
          },
          {
            "type": "text",
            "id": "mobile_button_1_text",
            "label": "Mobile Button 1 Text"
          },
          {
            "type": "url",
            "id": "mobile_button_1_link",
            "label": "Mobile Button 1 Link",
            "info": "t:sections.slideshow.blocks.image.button_1_link_info"
          },
          {
            "type": "select",
            "id": "mobile_button_1_style",
            "label": "Mobile Button 1 Style",
            "options": [
              {
                "value": "outline",
                "label": "Outline"
              },
              {
                "value": "solid",
                "label": "Solid"
              },
              {
                "value": "link",
                "label": "Link"
              }
            ],
            "default": "solid"
          },
          {
            "type": "color",
            "id": "mobile_button_1_background",
            "label": "Mobile Button 1 Background",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "mobile_button_1_text_color",
            "label": "Mobile Button 1 Text Color",
            "default": "#000000"
          },
          {
            "type": "header",
            "content": "Mobile Button 2"
          },
          {
            "type": "text",
            "id": "mobile_button_2_text",
            "label": "Mobile Button 2 Text"
          },
          {
            "type": "url",
            "id": "mobile_button_2_link",
            "label": "Mobile Button 2 Link"
          },
          {
            "type": "select",
            "id": "mobile_button_2_style",
            "label": "Mobile Button 2 Style",
            "options": [
              {
                "value": "outline",
                "label": "Outline"
              },
              {
                "value": "solid",
                "label": "Solid"
              },
              {
                "value": "link",
                "label": "Link"
              }
            ],
            "default": "outline"
          },
          {
            "type": "color",
            "id": "mobile_button_2_background",
            "label": "Mobile Button 2 Background",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "mobile_button_2_text_color",
            "label": "Mobile Button 2 Text Color",
            "default": "#000000"
          },
          {
            "type": "header",
            "content": "Desktop Button 1"
          },
          {
            "type": "text",
            "id": "button_1_text",
            "label": "Desktop Button 1 Text"
          },
          {
            "type": "url",
            "id": "button_1_link",
            "label": "Desktop Button 1 Link",
            "info": "t:sections.slideshow.blocks.image.button_1_link_info"
          },
          {
            "type": "select",
            "id": "button_1_style",
            "label": "Desktop Button 1 Style",
            "options": [
              {
                "value": "outline",
                "label": "Outline"
              },
              {
                "value": "solid",
                "label": "Solid"
              },
              {
                "value": "link",
                "label": "Link"
              }
            ],
            "default": "solid"
          },
          {
            "type": "color",
            "id": "button_1_background",
            "label": "Desktop Button 1 Background",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "button_1_text_color",
            "label": "Desktop Button 1 Text Color",
            "default": "#000000"
          },
          {
            "type": "header",
            "content": "Desktop Button 2"
          },
          {
            "type": "text",
            "id": "button_2_text",
            "label": "Desktop Button 2 Text"
          },
          {
            "type": "url",
            "id": "button_2_link",
            "label": "Desktop Button 2 Link"
          },
          {
            "type": "select",
            "id": "button_2_style",
            "label": "Desktop Button 2 Style",
            "options": [
              {
                "value": "outline",
                "label": "Outline"
              },
              {
                "value": "solid",
                "label": "Solid"
              },
              {
                "value": "link",
                "label": "Link"
              }
            ],
            "default": "outline"
          },
          {
            "type": "color",
            "id": "button_2_background",
            "label": "Desktop Button 2 Background",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "button_2_text_color",
            "label": "Desktop Button 2 Text Color",
            "default": "#000000"
          },
          {
            "type": "header",
            "content": "t:global.colors.category"
          },
          {
            "type": "color",
            "id": "background",
            "label": "t:global.colors.background"
          },
          {
            "type": "range",
            "id": "background_opacity",
            "min": 0,
            "max": 100,
            "unit": "%",
            "label": "t:global.colors.background_opacity",
            "default": 50
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "t:global.colors.text",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "border_color",
            "label": "t:global.colors.border"
          },
          {
            "type": "color_background",
            "id": "gradient_overlay",
            "label": "t:global.colors.gradient_overlay",
            "default": "linear-gradient(180deg, rgba(54, 54, 54, 0.2) 0%, rgba(4, 4, 4, 0.65) 100%)",
            "info": "t:sections.slideshow.blocks.image.gradient_overlay_info"
          }
        ]
      },
      {
        "type": "video",
        "name": "t:sections.slideshow.blocks.video.name",
        "settings": [
          {
            "type": "video",
            "id": "video",
            "label": "Desktop Video"
          },
          {
            "type": "video",
            "id": "mobile_video",
            "label": "Mobile Video"
          },
          {
            "type": "checkbox",
            "id": "allow_sound",
            "label": "t:sections.slideshow.blocks.video.allow_sound",
            "default": true
          },
          {
            "type": "header",
            "content": "Mobile Content Settings"
          },
          {
            "type": "inline_richtext",
            "id": "mobile_upper_subheading",
            "label": "Mobile Upper Subheading",
            "default": "Tell your story"
          },
          {
            "type": "range",
            "id": "mobile_upper_subheading_size",
            "min": 12,
            "max": 60,
            "step": 1,
            "unit": "px",
            "label": "Mobile Upper Subheading Font Size",
            "default": 16
          },
          {
            "type": "number",
            "id": "mobile_upper_subheading_weight",
            "label": "Mobile Upper Subheading Font Weight",
            "default": 400,
            "info": "Enter a value between 100 and 900. Normal = 400, Bold = 700"
          },
          {
            "type": "inline_richtext",
            "id": "mobile_title",
            "label": "Mobile Title",
            "default": "Video slide"
          },
          {
            "type": "range",
            "id": "mobile_title_size",
            "min": 20,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Mobile Title Font Size",
            "default": 48
          },
          {
            "type": "number",
            "id": "mobile_title_weight",
            "label": "Mobile Title Font Weight",
            "default": 700,
            "info": "Enter a value between 100 and 900. Normal = 400, Bold = 700"
          },
          {
            "type": "inline_richtext",
            "id": "mobile_subheading",
            "label": "Mobile Subheading",
            "default": "Tell your story"
          },
          {
            "type": "range",
            "id": "mobile_subheading_size",
            "min": 12,
            "max": 60,
            "step": 1,
            "unit": "px",
            "label": "Mobile Subheading Font Size",
            "default": 16
          },
          {
            "type": "number",
            "id": "mobile_subheading_weight",
            "label": "Mobile Subheading Font Weight",
            "default": 400,
            "info": "Enter a value between 100 and 900. Normal = 400, Bold = 700"
          },
          {
            "type": "header",
            "content": "Desktop Content Settings"
          },
          {
            "type": "inline_richtext",
            "id": "upper_subheading",
            "label": "Desktop Upper Subheading",
            "default": "Tell your story"
          },
          {
            "type": "range",
            "id": "upper_subheading_size",
            "min": 12,
            "max": 60,
            "step": 1,
            "unit": "px",
            "label": "Desktop Upper Subheading Font Size",
            "default": 16
          },
          {
            "type": "number",
            "id": "upper_subheading_weight",
            "label": "Desktop Upper Subheading Font Weight",
            "default": 400,
            "info": "Enter a value between 100 and 900. Normal = 400, Bold = 700"
          },
          {
            "type": "inline_richtext",
            "id": "title",
            "label": "Desktop Title",
            "default": "Video slide"
          },
          {
            "type": "range",
            "id": "title_size",
            "min": 20,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Desktop Title Font Size",
            "default": 48
          },
          {
            "type": "number",
            "id": "title_weight",
            "label": "Desktop Title Font Weight",
            "default": 700,
            "info": "Enter a value between 100 and 900. Normal = 400, Bold = 700"
          },
          {
            "type": "inline_richtext",
            "id": "subheading",
            "label": "Desktop Subheading",
            "default": "Tell your story"
          },
          {
            "type": "range",
            "id": "subheading_size",
            "min": 12,
            "max": 60,
            "step": 1,
            "unit": "px",
            "label": "Desktop Subheading Font Size",
            "default": 16
          },
          {
            "type": "number",
            "id": "subheading_weight",
            "label": "Desktop Subheading Font Weight",
            "default": 400,
            "info": "Enter a value between 100 and 900. Normal = 400, Bold = 700"
          },
          {
            "type": "header",
            "content": "Content Position"
          },
          {
            "type": "select",
            "id": "mobile_text_position",
            "label": "Mobile Content Position",
            "options": [
              {
                "value": "place-self-start text-start",
                "label": "Top Left"
              },
              {
                "value": "place-self-start-center text-center",
                "label": "Top Center"
              },
              {
                "value": "place-self-start-end text-end",
                "label": "Top Right"
              },
              {
                "value": "place-self-center-start text-start",
                "label": "Middle Left"
              },
              {
                "value": "place-self-center text-center",
                "label": "Middle Center"
              },
              {
                "value": "place-self-center-end text-end",
                "label": "Middle Right"
              },
              {
                "value": "place-self-end-start text-start",
                "label": "Bottom Left"
              },
              {
                "value": "place-self-end-center text-center",
                "label": "Bottom Center"
              },
              {
                "value": "place-self-end text-end",
                "label": "Bottom Right"
              }
            ],
            "default": "place-self-center text-center"
          },
          {
            "type": "select",
            "id": "desktop_text_position",
            "label": "Desktop Content Position",
            "options": [
              {
                "value": "sm:place-self-start sm:text-start",
                "label": "Top Left"
              },
              {
                "value": "sm:place-self-start-center sm:text-center",
                "label": "Top Center"
              },
              {
                "value": "sm:place-self-start-end sm:text-end",
                "label": "Top Right"
              },
              {
                "value": "sm:place-self-center-start sm:text-start",
                "label": "Middle Left"
              },
              {
                "value": "sm:place-self-center sm:text-center",
                "label": "Middle Center"
              },
              {
                "value": "sm:place-self-center-end sm:text-end",
                "label": "Middle Right"
              },
              {
                "value": "sm:place-self-end-start sm:text-start",
                "label": "Bottom Left"
              },
              {
                "value": "sm:place-self-end-center sm:text-center",
                "label": "Bottom Center"
              },
              {
                "value": "sm:place-self-end sm:text-end",
                "label": "Bottom Right"
              }
            ],
            "default": "sm:place-self-center sm:text-center"
          },
          {
            "type": "range",
            "id": "content_max_width",
            "label": "Content Maximum Width",
            "min": 400,
            "max": 1200,
            "step": 20,
            "unit": "px",
            "default": 780
          },
          {
            "type": "header",
            "content": "Mobile Button 1"
          },
          {
            "type": "text",
            "id": "mobile_button_1_text",
            "label": "Mobile Button 1 Text"
          },
          {
            "type": "url",
            "id": "mobile_button_1_link",
            "label": "Mobile Button 1 Link",
            "info": "t:sections.slideshow.blocks.image.button_1_link_info"
          },
          {
            "type": "select",
            "id": "mobile_button_1_style",
            "label": "Mobile Button 1 Style",
            "options": [
              {
                "value": "outline",
                "label": "Outline"
              },
              {
                "value": "solid",
                "label": "Solid"
              },
              {
                "value": "link",
                "label": "Link"
              }
            ],
            "default": "solid"
          },
          {
            "type": "color",
            "id": "mobile_button_1_background",
            "label": "Mobile Button 1 Background",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "mobile_button_1_text_color",
            "label": "Mobile Button 1 Text Color",
            "default": "#000000"
          },
          {
            "type": "header",
            "content": "Mobile Button 2"
          },
          {
            "type": "text",
            "id": "mobile_button_2_text",
            "label": "Mobile Button 2 Text"
          },
          {
            "type": "url",
            "id": "mobile_button_2_link",
            "label": "Mobile Button 2 Link"
          },
          {
            "type": "select",
            "id": "mobile_button_2_style",
            "label": "Mobile Button 2 Style",
            "options": [
              {
                "value": "outline",
                "label": "Outline"
              },
              {
                "value": "solid",
                "label": "Solid"
              },
              {
                "value": "link",
                "label": "Link"
              }
            ],
            "default": "outline"
          },
          {
            "type": "color",
            "id": "mobile_button_2_background",
            "label": "Mobile Button 2 Background",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "mobile_button_2_text_color",
            "label": "Mobile Button 2 Text Color",
            "default": "#000000"
          },
          {
            "type": "header",
            "content": "Desktop Button 1"
          },
          {
            "type": "text",
            "id": "button_1_text",
            "label": "Desktop Button 1 Text"
          },
          {
            "type": "url",
            "id": "button_1_link",
            "label": "Desktop Button 1 Link",
            "info": "t:sections.slideshow.blocks.image.button_1_link_info"
          },
          {
            "type": "select",
            "id": "button_1_style",
            "label": "Desktop Button 1 Style",
            "options": [
              {
                "value": "outline",
                "label": "Outline"
              },
              {
                "value": "solid",
                "label": "Solid"
              },
              {
                "value": "link",
                "label": "Link"
              }
            ],
            "default": "solid"
          },
          {
            "type": "color",
            "id": "button_1_background",
            "label": "Desktop Button 1 Background",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "button_1_text_color",
            "label": "Desktop Button 1 Text Color",
            "default": "#000000"
          },
          {
            "type": "header",
            "content": "Desktop Button 2"
          },
          {
            "type": "text",
            "id": "button_2_text",
            "label": "Desktop Button 2 Text"
          },
          {
            "type": "url",
            "id": "button_2_link",
            "label": "Desktop Button 2 Link"
          },
          {
            "type": "select",
            "id": "button_2_style",
            "label": "Desktop Button 2 Style",
            "options": [
              {
                "value": "outline",
                "label": "Outline"
              },
              {
                "value": "solid",
                "label": "Solid"
              },
              {
                "value": "link",
                "label": "Link"
              }
            ],
            "default": "outline"
          },
          {
            "type": "color",
            "id": "button_2_background",
            "label": "Desktop Button 2 Background",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "button_2_text_color",
            "label": "Desktop Button 2 Text Color",
            "default": "#000000"
          },
          {
            "type": "header",
            "content": "t:global.colors.category"
          },
          {
            "type": "color",
            "id": "background",
            "label": "t:global.colors.background"
          },
          {
            "type": "range",
            "id": "background_opacity",
            "min": 0,
            "max": 100,
            "unit": "%",
            "label": "t:global.colors.background_opacity",
            "default": 50
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "t:global.colors.text",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "border_color",
            "label": "t:global.colors.border"
          },
          {
            "type": "color_background",
            "id": "gradient_overlay",
            "label": "t:global.colors.gradient_overlay",
            "default": "linear-gradient(180deg, rgba(54, 54, 54, 0.2) 0%, rgba(4, 4, 4, 0.65) 100%)",
            "info": "t:sections.slideshow.blocks.image.gradient_overlay_info"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.slideshow.presets.slideshow.name",
        "blocks": [
          {
            "type": "image",
            "settings": {
              "title": "Slide 1"
            }
          },
          {
            "type": "image",
            "settings": {
              "title": "Slide 2"
            }
          }
        ]
      }
    ]
  }
  {% endschema %}